@import (inline) "codemirror/codemirror.css";
@import (inline) "codemirror/dialog.css";
@import (inline) "codemirror/foldgutter.css";
@import "codemirror/themes/themes.less";

body {
    overflow: hidden;
}

#toolbar {
    position: fixed;
    left: 0; right: 0;
    top: 0;
    padding: 3px 1em;
    border-bottom: 1px solid gray;
    z-index: 10;
    background-color: white;
}

#log-area {
    position: fixed;
    left: 0; right: 0;
    bottom: 0;
    height: 120px;
    z-index: 10;
    background-color: white;
    border-top: 1px solid gray;
    overflow: scroll;
    & > div {
        white-space: pre ; display: block; unicode-bidi: embed;
        font-family: "Monaco", "Menlo", monospace;
        font-size: 11px;
        padding: 2px 1em;
        border-bottom: 1px solid #EEE;
        &.exception {
            color: #d62728;
            & > div { display: none; }
        }
    }
}

#file-area {
}

#text-area {
    font-size: 13px;
    position: fixed;
    left: 0;
    right: 0;
    top: 30px;
    bottom: 120px;
}
